// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
margin: 0 auto 0 auto;
width: 40em;
background-color: #B5B5B5;
border: 1px solid grey;
border-radius: 3px;
}

.post-comments {

}

.post-nav {
margin: 0 auto 0 auto;
height: 3em;

}
