<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Robin Portfolio">
  <meta name="author" content="Robin Swenson-Healey">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <title> Robin J. Swenson-Healey </title>
</head>

<body>

  <!-- Header -->
  <div class="container">
      <div class="header row">
          <div class="span12">
              <div class="navbar">
                  <div class="navbar-inner">
                      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </a>
                      <h1>
                          <a class="brand" href="index.html">Andia - a super cool design agency...</a>
                      </h1>
                      <div class="nav-collapse collapse">
                          <ul class="nav pull-right">
                              <li class="current-page">
                                  <a href="index.html"><i class="icon-home"></i><br />Home</a>
                              </li>
                              <li>
                                  <a href="portfolio.html"><i class="icon-camera"></i><br />Portfolio</a>
                              </li>
                              <li>
                                  <a href="#"><i class="icon-comments"></i><br />Blog</a>
                              </li>
                              <li>
                                  <a href="services.html"><i class="icon-tasks"></i><br />Services</a>
                              </li>
                              <li>
                                  <a href="about.html"><i class="icon-user"></i><br />About</a>
                              </li>
                              <li>
                                  <a href="contact.html"><i class="icon-envelope-alt"></i><br />Contact</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Slider -->
  <div class="slider">
      <div class="container">
          <div class="row">
              <div class="span10 offset1">
                  <div class="flexslider">
                      <ul class="slides">
                          <li data-thumb="assets/img/slider/1.jpg">
                              <img src="assets/img/slider/1.jpg">
                              <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                          </li>
                          <li data-thumb="assets/img/slider/2.jpg">
                              <img src="assets/img/slider/2.jpg">
                              <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                          </li>
                          <li data-thumb="assets/img/slider/5.jpg">
                              <img src="assets/img/slider/5.jpg">
                              <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                          </li>
                          <li data-thumb="assets/img/slider/6.jpg">
                              <img src="assets/img/slider/6.jpg">
                              <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

<%= yield %>

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="widget span3">
                  <h4>About Us</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                  <p><a href="">Read more...</a></p>
              </div>
              <div class="widget span3">
                  <h4>Latest Tweets</h4>
                  <div class="show-tweets"></div>
              </div>
              <div class="widget span3">
                  <h4>Flickr Photos</h4>
                  <ul class="flickr-feed"></ul>
              </div>
              <div class="widget span3">
                  <h4>Contact Us</h4>
                  <p><i class="icon-map-marker"></i> Address: Via Principe Amedeo 9, 10100, Torino, TO, Italy</p>
                  <p><i class="icon-phone"></i> Phone: 0039 333 12 68 347</p>
                  <p><i class="icon-user"></i> Skype: Andia_Agency</p>
                  <p><i class="icon-envelope-alt"></i> Email: <a href="">contact@andia.co.uk</a></p>
              </div>
          </div>
          <div class="footer-border"></div>
          <div class="row">
              <div class="copyright span4">
                  <p>Copyright 2012 Andia - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
              </div>
              <div class="social span8">
                  <a class="facebook" href=""></a>
                  <a class="dribbble" href=""></a>
                  <a class="twitter" href=""></a>
                  <a class="pinterest" href=""></a>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>
